<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6ba0ac">  <td>19/07/01 10:42:51</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.afterMethod()[pri:0, instance:com.autoBot.testcases.TC001_LoginAndLogout@136e911]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@20446607</td>   <td></td> </tr>
<tr bgcolor="6ba0ac">  <td>19/07/01 10:42:25</td>   <td>-25335</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeMethod()[pri:0, instance:com.autoBot.testcases.TC001_LoginAndLogout@136e911]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@20446607</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>19/07/01 10:42:34</td>   <td>-16907</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_LoginAndLogout.loginAndLogout()[pri:0, instance:com.autoBot.testcases.TC001_LoginAndLogout@136e911]">loginAndLogout</td> 
  <td>main@20446607</td>   <td></td> </tr>
<tr bgcolor="9963d8">  <td>19/07/01 10:42:25</td>   <td>-25343</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Reporter.report()[pri:0, instance:com.autoBot.testcases.TC001_LoginAndLogout@136e911]">&gt;&gt;report</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@20446607</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>19/07/01 10:42:25</td>   <td>-25350</td> <td>&nbsp;</td><td title="&gt;&gt;TC001_LoginAndLogout.setData()[pri:0, instance:com.autoBot.testcases.TC001_LoginAndLogout@136e911]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@20446607</td>   <td></td> </tr>
<tr bgcolor="9963d8">  <td>19/07/01 10:42:25</td>   <td>-25612</td> <td title="&gt;&gt;Reporter.startReport()[pri:0, instance:com.autoBot.testcases.TC001_LoginAndLogout@136e911]">&gt;&gt;startReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@20446607</td>   <td></td> </tr>
<tr bgcolor="9963d8">  <td>19/07/01 10:42:51</td>   <td>226</td> <td title="&lt;&lt;Reporter.stopReport()[pri:0, instance:com.autoBot.testcases.TC001_LoginAndLogout@136e911]">&lt;&lt;stopReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@20446607</td>   <td></td> </tr>
</table>
